/* ========= ALL FONTS ========= */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&family=Poppins&family=Raleway&display=swap");

/* ========= ALL VARIABLES ========= */

:root {
    --primary-app-color: #50d8af;
    --secondary-app-color: #0c2e8a;
}

/* ========= GLOBAL CSS ========= */

.html,
body {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 0px !important;
    /* background-color: #fcfcfc; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}
.center {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.color-secondary {
    color: var(--secondary-app-color);
}

/* ========= START BUTTON ========= */
.btn {
    font-family: "Poppins", sans-serif;
}
/* Primary Button */
.custom-btn,
.custom-btn:focus {
    background: var(--primary-app-color);
    color: #fff;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
}
.custom-btn:hover {
    color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
/* Secondary Button */
.custom-btn-secondary,
.custom-btn-secondary:focus {
    font-family: "Poppins", sans-serif;
    background: var(--secondary-app-color);
    color: #fff;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
}
.custom-btn-secondary:hover {
    color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
/* ========= END BUTTON ========= */

.icon-custom {
    color: var(--primary-app-color);
}
a:hover,
a:active,
a:focus {
    color: var(--primary-app-color);
    outline: none;
    text-decoration: none;
}
.section-header h2 {
    color: var(--secondary-app-color) !important;
}
.section-header h2::before {
    /* Small Underline (Heading) */
    background: var(--primary-app-color) !important;
}

/* ========= Google Translate Api ========= */

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

/* ========= Herosection ========= */

#hero {
    height: 70vh !important;
}
#hero .hero-slider {
    height: 70vh !important;
}

/* ========= Navigation ========= */

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: var(--primary-app-color) !important;
}

/* ========= Message From SDS ========= */
#about .content h2 {
    color: var(--secondary-app-color);
}

/* ========= Carousel Bullet Pagination ========= */
.swiper-pagination .swiper-pagination-bullet {
    border: 1px solid var(--primary-app-color) !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--primary-app-color) !important;
}

/* ========= Mission Vision ========= */
.custom-mission-paragraph {
    text-align: justify;
}

/* ======================================= */
/* *** *** *** USER INTERFACE *** *** *** */
/* ======================================= */

/* ========= Side Navigation ========= */

.side-navlink {
    font-family: "Raleway", sans-serif !important;
    border-left: 4px solid #fff !important;
    background: #fff !important;
    color: #acacac;
}
.side-navlink.active {
    border-left: 4px solid var(--primary-app-color) !important;
    border-block: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    font-weight: 700;
    color: #191919 !important;
    background: #fff !important;
}
.side-navlink:hover {
    color: #acacac;
}
.side-navlink:focus {
    color: #acacac;
}

/* ========= Request Form ========= */

.request-form-label {
    font-weight: 700;
    font-size: 12.5px;
}
.form-control:focus {
    border: 1px solid var(--primary-app-color);
    outline: none;
    box-shadow: none;
}
.by-section-heading {
    color: var(--secondary-app-color);
    font-weight: 700;
    font-style: italic;
}
.custom-heading-label {
    font-size: 14px;
}

/* ========= SUBMIT PAGE ========= */

#btn-invalid {
    cursor: pointer;
}
#message-close-btn {
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
}
.message-invalid {
    border: none;
}

/* Filepond */
.filepond--root {
    height: 12rem;
}
.filepond--drop-label {
    color: #acacac !important;
}
.custom-pdf-icon {
    margin-top: 7rem;
    margin-bottom: 0.5rem;
    font-size: 6em !important;
    color: #acacac;
}
