/* ========= ALL FONTS ========= */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Merriweather&family=Playfair+Display&family=Poppins&family=Raleway&display=swap");

/* ========= ALL VARIABLES ========= */

:root {
    --primary-app-color: #4492c3;
    --secondary-app-color: #224389;
}

/* ========= GLOBAL CSS ========= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html,
body {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    top: 0px !important;

    display: grid;
    grid-template-rows: auto auto 1fr auto;
    align-items: start;
    min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}
.center {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.color-primary {
    color: var(--primary-app-color);
}
.color-secondary {
    color: var(--secondary-app-color);
}

/* ========= START BUTTON ========= */
.btn {
    font-family: "Poppins", sans-serif;
}
/* Primary Button */
.custom-btn,
.custom-btn:focus {
    background: var(--primary-app-color);
    color: #fff;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
}
.custom-btn:hover {
    color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
/* Secondary Button */
.custom-btn-secondary,
.custom-btn-secondary:focus {
    font-family: "Poppins", sans-serif;
    background: var(--secondary-app-color);
    color: #fff;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
}
.custom-btn-secondary:hover {
    color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
/* ========= END BUTTON ========= */

.icon-custom {
    color: var(--primary-app-color);
}
a,
a:hover,
a:active,
a:focus {
    color: var(--primary-app-color);
    outline: none;
    text-decoration: none;
}
.section-header h2 {
    color: var(--secondary-app-color) !important;
}
.section-header h2::before {
    /* Small Underline (Heading) */
    background: var(--primary-app-color) !important;
}

/* ========= Footer ========= */
#footer {
    display: flex;
    flex-flow: row wrap;
}

/* ========= Google Translate Api ========= */

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

/* ========= Herosection ========= */

#hero {
    height: 70vh !important;
    background-image: linear-gradient(
        rgba(68, 146, 195, 0.3),
        rgba(68, 146, 195, 0.5),
        rgba(34, 67, 137, 0.7)
    );
}
#hero .hero-slider {
    height: 70vh !important;
}

/* ========= Navigation ========= */

#header #logo h1 a span {
    color: var(--primary-app-color);
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: var(--primary-app-color) !important;
}

/* ========= Message From SDS ========= */
#about .content h2 {
    color: var(--secondary-app-color);
}

/* ========= Carousel Bullet Pagination ========= */
.swiper-pagination .swiper-pagination-bullet {
    border: 1px solid var(--primary-app-color) !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--primary-app-color) !important;
}

/* ========= Mission Vision ========= */
.custom-serif-paragraph {
    font-family: "Merriweather", serif;
    font-size: 20px;
    /* font-weight: 700; */
    text-align: justify;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 1px;
}

/* ======================================= */
/* *** *** *** USER INTERFACE *** *** *** */
/* ======================================= */

/* ========= Side Navigation ========= */

.side-navlink {
    font-family: "Raleway", sans-serif !important;
    border-left: 4px solid #fff !important;
    background: #fff !important;
    color: #acacac;
}
.side-navlink.active {
    border-left: 4px solid var(--primary-app-color) !important;
    border-block: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    font-weight: 700;
    color: #191919 !important;
    background: #fff !important;
}
.side-navlink:hover {
    color: #acacac;
}
.side-navlink:focus {
    color: #acacac;
}

/* ========= Request Form ========= */

.request-form-label {
    font-weight: 700;
    font-size: 12.5px;
}
.form-control:focus:invalid {
    border: 1px solid #ce4546;
}
.form-control:focus:valid {
    border: 1px solid var(--primary-app-color);
}
.form-control:focus {
    outline: none;
    box-shadow: none;
}
.by-section-heading {
    color: var(--secondary-app-color);
    font-weight: 700;
    font-style: italic;
}
.custom-heading-label {
    font-size: 14px;
}

/* ========= SUBMIT PAGE ========= */

#btn-invalid {
    cursor: pointer;
}
#message-close-btn {
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
}
.message-invalid {
    border: none;
}

/* Filepond */
.filepond--root {
    height: 12rem;
}
.filepond--drop-label {
    color: #acacac !important;
}
.custom-pdf-icon {
    margin-top: 7rem;
    margin-bottom: 0.5rem;
    font-size: 6em !important;
    color: #acacac;
}

/*--------------------------------------------------------------
# Top Bar Landing Page
--------------------------------------------------------------*/

#topbar .contact-info i {
    color: var(--primary-app-color);
}

#topbar .contact-info i a:hover {
    color: var(--primary-app-color);
}

#topbar .social-links a:hover {
    color: var(--primary-app-color);
}

/* ========= SCROLL TO TOP ========= */
.back-to-top {
    background: var(--primary-app-color);
}
.back-to-top:hover {
    background: var(--primary-app-color);
}

/* ========= BOOTSTRAP BREAKPOINTS ========= */
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .custom-serif-paragraph {
        padding-inline: 0px !important;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */
